 <section class="page pageOne">
        <h2>POSTS</h2>
        <h3>POSTS container:</h3>
        <ul class="list-group" data-hook="posts-list"></ul>
        <p>Try it by clicking the buttons</p>
        <div class="buttons btn-group">
            <button class="btn btn-default" data-hook="reset">.reset()</button>
            <button class="btn btn-default" data-hook="fetch">.fetch()</button>
            <button class="btn btn-default" data-hook="shuffle">.shuffle()</button>
            <button class="btn btn-default" data-hook="add">.addRandom()</button>
            <a class="btn btn-default" href="/person/add">Add Person</a>
        </div>
    </section>