 <section class="page pageOne">
        <h2>POSTS</h2>
        <h3>POSTS container:</h3>
        <ul class="list-group" data-hook="posts-list"></ul>
        <div class="buttons btn-group">
            <button class="btn btn-default" data-hook="reset">REMOVE</button>
            <button class="btn btn-default" data-hook="fetch">REFRESH</button>
        </div>
    </section>