  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">CLOUDVIEW</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">home</a></li>

      <li><a href="/collection">Posts</a></li>

      <li><a href="/nested">Nested</a></li>
    </ul>
  </div>